In [2]:
import pandas as pd

In [4]:
# _columns.csv
columns_data = pd.read_csv("archive/_columns.csv")
columns_data

          ColumnName                                  ColumnDescription
0            Address        website address the data is scraped from \n
1             League    League or Tournament the match took place in \n
2               Year                    Year the match took place in \n
3             Season  Spring or Summer depending on which half of th...
4               Type  Season, Playoffs, Regional, or International m...
5        blueTeamTag   Blue Team's tag name (ex. Team SoloMid is TSM...
6            bResult   Result of the match for Blue Team - 1 is a wi...
7            rResult   Result of the match for Red Team - 1 is a win...
8         redTeamTag   Red Team's Tag Name (ex. Team SoloMid is TSM) \n
9         gamelength                          Game length in minutes \n
10          golddiff   Gold difference - computed Blue minus Red - b...
11          goldblue          Blue Team's total gold value by minute \n
12            bKills   List of Blue Team's kills - [Time in minutes,...
13           bTowers   List of minutes that Blue Team destroyed a to...
14           bInhibs   List of minutes that Blue Team destroyed an i...
15          bDragons   List of minutes that Blue Team killed a drago...
16           bBarons   List of minutes that Blue Team killed a baron...
17          bHeralds   List of minutes that Blue Team killed a rift ...
18           goldred           Red Team's total gold value by minute \n
19            rKills   List of Red Team's kills - [Time in minutes, ...
20           rTowers   List of minutes that Red Team destroyed a tow...
21           rInhibs   List of minutes that Red Team destroyed an in...
22          rDragons   List of minutes that Red Team killed a dragon...
23           rBarons   List of minutes that Red Team killed a baron ...
24          rHeralds   List of minutes that Red Team killed a rift h...
25           blueTop   Name of Blue Team's player in the top positio...
26      blueTopChamp   Name of Blue Team's champion in the top posit...
27       goldblueTop   Blue's Top position player's gold value by mi...
28        blueJungle   Name of Blue Team's player in the jungle posi...
29   blueJungleChamp   Name of Blue Team's champion in the jungle po...
30    goldblueJungle   Blue's Jungle position player's gold value by...
31        blueMiddle   Name of Blue Team's player in the middle posi...
32   blueMiddleChamp   Name of Blue Team's champion in the middle po...
33    goldblueMiddle   Blue's Middle position player's gold value by...
34           blueADC   Name of Blue Team's player in the ADC positio...
35      blueADCChamp   Name of Blue Team's champion in the ADC posit...
36       goldblueADC   Blue's ADC position player's gold value by mi...
37       blueSupport   Name of Blue Team's player in the support pos...
38  blueSupportChamp   Name of Blue's champion in the support positi...
39   goldblueSupport    Blue's Support player's gold value by minute \n
40          blueBans   List of champions Blue Team banned (in order) \n
41            redTop   Name of Red Team's player in the top position \n
42       redTopChamp   Name of Red Team's champion in the top positi...
43        goldredTop   Red's Top position player's gold value by min...
44         redJungle   Name of Red Team's player in the jungle posit...
45    redJungleChamp   Name of Red Team's champion in the jungle pos...
46     goldredJungle   Red's Jungle position player's gold value by ...
47         redMiddle   Name of Red Team's player in the middle posit...
48    redMiddleChamp   Name of Red Team's champion in the middle pos...
49     goldredMiddle   Red's Middle position player's gold value by ...
50            redADC   Name of Red Team's player in the ADC position \n
51       redADCChamp   Name of Red Team's champion in the ADC positi...
52        goldredADC   Red's ADC position player's gold value by min...
53   redSupportChamp   Name of Red Team's player in the support posi...
54        redSupport   Name of Red Team's champion in the support po...
55    goldredSupport   Red's Support position player's gold value by...
56           redBans       List of champions Red Team banned (in order)

In [18]:
# bans.csv

# Address - website address the data is scraped from
# Team - 'blueBans' or 'redBans'
# ban_1 ... ban_5 - banned champion

bans_data = pd.read_csv("archive/bans.csv")
bans_data.head()

,Address,Team,ban_1,ban_2,ban_3,ban_4,ban_5
0,http://matchhistory.na.leagueoflegends.com/en/...,blueBans,Rumble,Kassadin,Lissandra,NaN,NaN
1,http://matchhistory.na.leagueoflegends.com/en/...,blueBans,Kassadin,Sivir,Lissandra,NaN,NaN
2,http://matchhistory.na.leagueoflegends.com/en/...,blueBans,JarvanIV,Lissandra,Kassadin,NaN,NaN
3,http://matchhistory.na.leagueoflegends.com/en/...,blueBans,Annie,Lissandra,Kassadin,NaN,NaN
4,http://matchhistory.na.leagueoflegends.com/en/...,blueBans,Irelia,Pantheon,Kassadin,NaN,NaN

In [21]:
# gold.csv

# Address - website address the data is scraped from
# Type - ['golddiff' 'goldblue' 'goldred' 'goldblueTop' 'goldblueJungle'
# 'goldblueMiddle' 'goldblueADC' 'goldblueSupport' 'goldredTop'
# 'goldredJungle' 'goldredMiddle' 'goldredADC' 'goldredSupport']
# min_1 ... min_95 - game time register

gold_data = pd.read_csv("archive/gold.csv")
gold_data.head()

,Address,Type,min_1,min_2,min_3,min_4,min_5,min_6,min_7,min_8,...,min_86,min_87,min_88,min_89,min_90,min_91,min_92,min_93,min_94,min_95
0,http://matchhistory.na.leagueoflegends.com/en/...,golddiff,0,0,-14,-65,-268,-431,-488,-789,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,http://matchhistory.na.leagueoflegends.com/en/...,golddiff,0,0,-26,-18,147,237,-152,18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,http://matchhistory.na.leagueoflegends.com/en/...,golddiff,0,0,10,-60,34,37,589,1064,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,http://matchhistory.na.leagueoflegends.com/en/...,golddiff,0,0,-15,25,228,-6,-243,175,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,http://matchhistory.na.leagueoflegends.com/en/...,golddiff,40,40,44,-36,113,158,-121,-191,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
# kills.csv
kills_data = pd.read_csv("archive/kills.csv")
kills_data.head()

,Address,Team,Time,Victim,Killer,Assist_1,Assist_2,Assist_3,Assist_4,x_pos,y_pos
0,http://matchhistory.na.leagueoflegends.com/en/...,bKills,10.820,C9 Hai,TSM Bjergsen,NaN,NaN,NaN,NaN,9229,8469
1,http://matchhistory.na.leagueoflegends.com/en/...,bKills,16.286,C9 LemonNation,TSM WildTurtle,TSM Santorin,TSM Bjergsen,TSM Lustboy,NaN,13908,5960
2,http://matchhistory.na.leagueoflegends.com/en/...,bKills,18.733,C9 Hai,TSM Bjergsen,TSM Santorin,TSM WildTurtle,TSM Lustboy,NaN,8281,7889
3,http://matchhistory.na.leagueoflegends.com/en/...,bKills,18.880,C9 Meteos,TSM Dyrus,TSM Santorin,TSM Bjergsen,TSM WildTurtle,TSM Lustboy,8522,8895
4,http://matchhistory.na.leagueoflegends.com/en/...,bKills,27.005,C9 Balls,TSM Bjergsen,TSM Dyrus,TSM Santorin,TSM WildTurtle,TSM Lustboy,8902,7643

In [9]:
# LeagueofLegends.csv
lol_data = pd.read_csv("archive/LeagueofLegends.csv")
lol_data.head()

,League,Year,Season,Type,blueTeamTag,bResult,rResult,redTeamTag,gamelength,golddiff,...,redMiddleChamp,goldredMiddle,redADC,redADCChamp,goldredADC,redSupport,redSupportChamp,goldredSupport,redBans,Address
0,NALCS,2015,Spring,Season,TSM,1,0,C9,40,"[0, 0, -14, -65, -268, -431, -488, -789, -494,...",...,Fizz,"[475, 475, 552, 842, 1178, 1378, 1635, 1949, 2...",Sneaky,Sivir,"[475, 475, 532, 762, 1097, 1469, 1726, 2112, 2...",LemonNation,Thresh,"[515, 515, 577, 722, 911, 1042, 1194, 1370, 14...","['Tristana', 'Leblanc', 'Nidalee']",http://matchhistory.na.leagueoflegends.com/en/...
1,NALCS,2015,Spring,Season,CST,0,1,DIG,38,"[0, 0, -26, -18, 147, 237, -152, 18, 88, -242,...",...,Azir,"[475, 475, 552, 786, 1097, 1389, 1660, 1955, 2...",CoreJJ,Corki,"[475, 475, 532, 868, 1220, 1445, 1732, 1979, 2...",KiWiKiD,Annie,"[515, 515, 583, 752, 900, 1066, 1236, 1417, 15...","['RekSai', 'Janna', 'Leblanc']",http://matchhistory.na.leagueoflegends.com/en/...
2,NALCS,2015,Spring,Season,WFX,1,0,GV,40,"[0, 0, 10, -60, 34, 37, 589, 1064, 1258, 913, ...",...,Azir,"[475, 475, 533, 801, 1006, 1233, 1385, 1720, 1...",Cop,Corki,"[475, 475, 533, 781, 1085, 1398, 1782, 1957, 2...",BunnyFuFuu,Janna,"[515, 515, 584, 721, 858, 1002, 1168, 1303, 14...","['Leblanc', 'Zed', 'RekSai']",http://matchhistory.na.leagueoflegends.com/en/...
3,NALCS,2015,Spring,Season,TIP,0,1,TL,41,"[0, 0, -15, 25, 228, -6, -243, 175, -346, 16, ...",...,Lulu,"[475, 475, 532, 771, 1046, 1288, 1534, 1776, 2...",KEITH,KogMaw,"[475, 475, 532, 766, 1161, 1438, 1776, 1936, 2...",Xpecial,Janna,"[515, 515, 583, 721, 870, 1059, 1205, 1342, 15...","['RekSai', 'Rumble', 'LeeSin']",http://matchhistory.na.leagueoflegends.com/en/...
4,NALCS,2015,Spring,Season,CLG,1,0,T8,35,"[40, 40, 44, -36, 113, 158, -121, -191, 23, 20...",...,Lulu,"[475, 475, 532, 807, 1042, 1338, 1646, 1951, 2...",Maplestreet8,Corki,"[475, 475, 532, 792, 1187, 1488, 1832, 2136, 2...",Dodo8,Annie,"[475, 475, 538, 671, 817, 948, 1104, 1240, 136...","['Rumble', 'Sivir', 'Rengar']",http://matchhistory.na.leagueoflegends.com/en/...

In [11]:
# matchinfo.csv
matchinfo_data = pd.read_csv("archive/matchinfo.csv")
matchinfo_data.head()

,League,Year,Season,Type,blueTeamTag,bResult,rResult,redTeamTag,gamelength,blueTop,...,redTopChamp,redJungle,redJungleChamp,redMiddle,redMiddleChamp,redADC,redADCChamp,redSupport,redSupportChamp,Address
0,NALCS,2015,Spring,Season,TSM,1,0,C9,40,Dyrus,...,Gnar,Meteos,Elise,Hai,Fizz,Sneaky,Sivir,LemonNation,Thresh,http://matchhistory.na.leagueoflegends.com/en/...
1,NALCS,2015,Spring,Season,CST,0,1,DIG,38,Cris,...,Irelia,Crumbzz,JarvanIV,Shiphtur,Azir,CoreJJ,Corki,KiWiKiD,Annie,http://matchhistory.na.leagueoflegends.com/en/...
2,NALCS,2015,Spring,Season,WFX,1,0,GV,40,Flaresz,...,Sion,Saintvicious,LeeSin,Keane,Azir,Cop,Corki,BunnyFuFuu,Janna,http://matchhistory.na.leagueoflegends.com/en/...
3,NALCS,2015,Spring,Season,TIP,0,1,TL,41,Rhux,...,Gnar,IWDominate,Nunu,Fenix,Lulu,KEITH,KogMaw,Xpecial,Janna,http://matchhistory.na.leagueoflegends.com/en/...
4,NALCS,2015,Spring,Season,CLG,1,0,T8,35,Benny,...,Sion,Porpoise8,RekSai,Slooshi8,Lulu,Maplestreet8,Corki,Dodo8,Annie,http://matchhistory.na.leagueoflegends.com/en/...

In [12]:
# monsters.csv
monsters_data = pd.read_csv("archive/monsters.csv")
monsters_data.head()

                                             Address      Team    Time    Type
0  http://matchhistory.na.leagueoflegends.com/en/...  bDragons  37.267  DRAGON
1  http://matchhistory.na.leagueoflegends.com/en/...  bDragons  32.545  DRAGON
2  http://matchhistory.na.leagueoflegends.com/en/...  bDragons  26.177  DRAGON
3  http://matchhistory.na.leagueoflegends.com/en/...  bDragons  19.119  DRAGON
4  http://matchhistory.na.leagueoflegends.com/en/...  bDragons  24.577  DRAGON

In [13]:
# structures.csv
structures_data = pd.read_csv("archive/structures.csv")
structures_data.head()

,Address,Team,Time,Lane,Type
0,http://matchhistory.na.leagueoflegends.com/en/...,bTowers,27.542,MID_LANE,BASE_TURRET
1,http://matchhistory.na.leagueoflegends.com/en/...,bTowers,39.269,MID_LANE,NEXUS_TURRET
2,http://matchhistory.na.leagueoflegends.com/en/...,bTowers,33.583,BOT_LANE,INNER_TURRET
3,http://matchhistory.na.leagueoflegends.com/en/...,bTowers,23.038,TOP_LANE,INNER_TURRET
4,http://matchhistory.na.leagueoflegends.com/en/...,bTowers,16.556,BOT_LANE,OUTER_TURRET